*foreground: #D07000
*background: #000000

!*color0 : #63AAC0
!*color8 : #63AAC0

*color1 : #63AAC0
*color9 : #438AA0

*color2 : #30FF7D
*color10 : #00BB4A

*color3 : #E1EE00
*color11 : #F2FF00

*color4 : #63AAC0
*color12 : #438AA0

*color5 : #A0FAFF
*color13 : #A0FAFF

*color6 : #FF0000
*color14: #AA0000

!*color7 : #63AAC0
!*color15 : #63AAC0


